.child {
  position: absolute;
  top: 13.81rem;
  left: 1.88rem;
  border-radius: 23px;
  background-color: var(--color-white);
  width: 23rem;
  height: 29.63rem;
}
.b,
.have-a-nice {
  position: absolute;
  top: 23.63rem;
  left: 4.88rem;
  text-shadow: 0 4px 18px rgba(0, 0, 0, 0.07);
}
.have-a-nice {
  top: 24.94rem;
  left: 5.19rem;
  font-size: var(--font-size-smi-6);
}
.item {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 27.19rem;
  left: 4.94rem;
}
.button,
.div1,
.inner {
  position: absolute;
  top: 39rem;
}
.button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 16.25rem;
  font-size: var(--font-size-smi-6);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-mediumturquoise);
  text-align: left;
  display: inline-block;
}
.div1,
.inner {
  left: 8.19rem;
}
.inner {
  top: 35.25rem;
  left: 4.88rem;
  cursor: pointer;
}
.frame-textfield {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 30.5rem;
  left: 4.94rem;
}
.rectangle-icon {
  position: absolute;
  top: 15rem;
  left: calc(50% - 68px);
  width: 8.5rem;
  height: 6.06rem;
  object-fit: cover;
}
.with-campus {
  position: absolute;
  top: 9.69rem;
  left: calc(50% - 125px);
  font-size: 2rem;
  font-family: var(--font-angkor);
  color: var(--color-white);
  text-align: center;
}
.div {
  position: relative;
  border-radius: 30px;
  background-color: var(--color-mediumturquoise);
  width: 100%;
  height: 57.88rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.1rem;
  color: var(--color-gray);
  font-family: var(--font-inter);
}
.ellipse-icon {
  position: absolute;
  top: 686px;
  left: 24px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.native-home-indicator {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: -2px;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 34px;
}
.type12 {
  top: 8px;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 22px;
  font-weight: 500;
}
.chart,
.date,
.type12 {
  position: absolute;
}
.date {
  top: 0;
  left: 221px;
  cursor: pointer;
}
.chart {
  top: 69px;
  left: 24px;
  width: 327px;
  height: 38px;
  font-size: var(--h5-semi-bold-size);
  color: var(--neutral-60);
}
.secondnum,
.secondnum1 {
  position: absolute;
  top: 1.76px;
  left: 36.59px;
  letter-spacing: -0.02em;
  line-height: 100%;
  display: inline-block;
  width: 20.68px;
  height: 24.71px;
}
.secondnum1 {
  top: 0;
  left: 0;
  width: 36.59px;
  height: 28.24px;
}
.firstnum,
.n2-frame {
  position: absolute;
  top: 0.24px;
  left: 286.18px;
  width: 57.27px;
  height: 28.24px;
}
.firstnum {
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
  line-height: 100%;
  display: inline-block;
  width: 16.36px;
}
.n2-frame-parent {
  position: absolute;
  top: 167px;
  left: 18px;
  width: 343.45px;
  height: 28.47px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
  font-family: var(--font-anek-tamil);
}
.bar {
  top: 6.32px;
  left: calc(50% - 158px);
  border-radius: var(--br-xl);
  background-color: rgba(38, 206, 194, 0.85);
  backdrop-filter: blur(10px);
  width: 316px;
  height: 17.37px;
}
.bar,
.bar-frame,
.bg {
  position: absolute;
}
.bar-frame {
  top: 128px;
  left: calc(50% - 161.5px);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(38, 206, 194, 0.04);
  width: 328px;
  height: 30px;
}
.bg {
  top: 0;
  left: 0;
  border-radius: var(--br-base);
  background-color: var(--neutral-10);
  border: 1px solid var(--color-mediumturquoise-100);
  box-sizing: border-box;
  width: 156px;
  height: 142px;
}
.type121,
.type20 {
  position: absolute;
  top: 76px;
  left: 16px;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
}
.type121 {
  top: 104px;
  font-size: var(--h5-semi-bold-size);
  line-height: 22px;
  font-weight: 500;
  color: var(--neutral-60);
}
.bg-icon,
.bg1 {
  position: absolute;
  border-radius: var(--br-xs);
  width: 48px;
  height: 48px;
}
.bg1 {
  top: 16px;
  left: 16px;
  background-color: var(--color-gainsboro);
}
.bg-icon {
  top: 227px;
  left: 0;
  object-fit: cover;
}
.income,
.outcome {
  top: 226px;
  width: 156px;
}
.income {
  position: absolute;
  left: 24px;
  height: 275px;
}
.outcome {
  left: 195px;
  border-radius: var(--br-base);
  background-color: var(--neutral-10);
  border: 1px solid var(--color-mediumturquoise-100);
  box-sizing: border-box;
  height: 142px;
}
.div3,
.outcome,
.type123 {
  position: absolute;
}
.type123 {
  top: 0;
  left: 0;
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
}
.div3 {
  top: 7px;
  left: 273px;
  font-size: var(--font-size-smi-6);
  font-family: var(--font-preahvihear);
  color: var(--neutral-60);
  display: inline-block;
  width: 78px;
  height: 29px;
}
.type12-parent {
  position: absolute;
  top: 0;
  left: 24px;
  width: 351px;
  height: 36px;
  font-size: var(--h4-semi-bold-size);
}
.type124 {
  top: 18px;
  left: 84px;
  line-height: 22px;
  font-weight: 600;
}
.type124,
.type125,
.type202 {
  position: absolute;
  letter-spacing: 0.01em;
}
.type125 {
  top: 42px;
  left: 84px;
  font-size: var(--h6-medium-size);
  line-height: 20px;
  font-weight: 500;
  color: var(--neutral-60);
}
.type202 {
  top: 28px;
  left: 283px;
  font-size: var(--h4-semi-bold-size);
  line-height: 24px;
  font-weight: 600;
}
.line-icon {
  position: absolute;
  top: 79.5px;
  left: 23.5px;
  width: 328px;
  height: 1px;
}
.recent-transaction,
.send,
.send1 {
  position: absolute;
  top: 32px;
  left: 0;
  width: 375px;
  height: 80px;
}
.recent-transaction,
.send1 {
  top: 120px;
}
.recent-transaction {
  top: 550px;
  height: 200px;
  font-size: var(--h5-semi-bold-size);
}
.type12-group {
  top: 0;
  left: 24px;
  width: 351px;
  height: 36px;
}
.send2,
.type12-group,
.type204 {
  position: absolute;
}
.type204 {
  top: 28px;
  left: 283px;
  font-size: var(--h4-semi-bold-size);
  letter-spacing: 0.01em;
  line-height: 24px;
  font-weight: 600;
  color: #371f1f;
}
.send2 {
  top: 32px;
  left: 0;
  width: 375px;
  height: 80px;
  font-size: var(--h5-semi-bold-size);
}
.ellipse-icon1,
.recent-transaction1 {
  position: absolute;
  top: 403px;
  left: 0;
  width: 375px;
  height: 112px;
}
.ellipse-icon1 {
  top: 598px;
  left: 25px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.frame-child,
.type1211 {
  position: absolute;
  left: 0;
  width: 48px;
}
.frame-child {
  top: 0;
  border-radius: 50%;
  background-color: var(--neutral-10);
  height: 48px;
}
.type1211 {
  top: 26px;
  font-size: var(--h6-medium-size);
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--h4-semi-bold);
  color: var(--neutral-100);
  text-align: center;
  display: inline-block;
}
.iconlylighthome1 {
  position: absolute;
  height: 50%;
  width: 50%;
  top: 4.17%;
  right: 25%;
  bottom: 45.83%;
  left: 25%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16px;
  left: 35px;
  height: 48px;
}
.ellipse-group,
.ellipse-parent,
.type1212 {
  position: absolute;
  width: 48px;
}
.type1212 {
  top: 26px;
  left: 0;
  font-size: var(--h6-medium-size);
  letter-spacing: 0.01em;
  line-height: 20px;
  font-weight: 500;
  font-family: var(--h4-semi-bold);
  color: var(--neutral-60);
  text-align: center;
  display: inline-block;
}
.ellipse-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 16px;
  left: 99px;
  height: 48px;
}
.navigation-menu-child {
  position: absolute;
  top: -8px;
  left: 139px;
  width: 96px;
  height: 96px;
}
.gamecontroller-icon {
  position: absolute;
  width: 69.87%;
  right: 15.55%;
  bottom: 16px;
  left: 14.58%;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
}
.ellipse-container,
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 16px;
  left: 227px;
  width: 48px;
  height: 48px;
}
.frame-button {
  left: 291px;
}
.navigation-menu {
  position: absolute;
  top: 724px;
  left: 0;
  background-color: var(--neutral-10);
  width: 375px;
  height: 88px;
}
.div2 {
  position: relative;
  border-radius: var(--br-11xl);
  background-color: #fefefe;
  width: 375px;
  height: 812px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h4-semi-bold-size);
  color: var(--neutral-100);
  font-family: var(--h4-semi-bold);
}
